AIRFLOW_UID=50000
AIRFLOW_API_PORT=8080
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=change-me
AIRFLOW_DAGBAG_IMPORT_TIMEOUT=120
AIRFLOW_DAG_PARSE_INTERVAL=10
AIRFLOW_DAG_PROCESSOR_TIMEOUT=180
AIRFLOW_DAG_REFRESH_INTERVAL=10
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=local-airflow-jwt-secret-change-me

POSTGRES_PROD_HOST=your-postgres-prod-host
POSTGRES_PROD_USER=dbt_user
POSTGRES_PROD_PASSWORD=replace-me
